html,
body {
  height: 100%;
}

.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.container .content .input input {
  width: 37rem;
  height: 5rem;
  padding: 0px 12px;
}

button {
  width: 37rem;
  background-color: rgb(35, 38, 42);
  padding: 1rem;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  border-image: initial;
}

.container {
  text-align: center;
}

img{
  width: 6rem;
}